/* Page Score */
/* .page-score {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
} */

/* .page-title {
  font-family: "Skranji", cursive;
  color: #2081c3;
  font-size: 2em;
  text-align: center;
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  order: 0;
}

.instruction {
  font-family: "Skranji", cursive;
  font-size: 1.5em;
  font-weight: 300;
  text-align: center;
  left: 50%;
  top: 50%;
  padding: 0%;
  color: #d7dedc;
} */


